@{
Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using p3.Models
@using System.Linq
@model System.Collections.ArrayList


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="/Content/bootst.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
</head>
<body>


    <div class="row">
        <div class="col-xs-1"></div>
            <div class="col-xs-7">
                <h1 style="color:white; font-family:'Comic Sans MS'">Welcome to Lahore Grammer School</h1>
                <h1 style="color:white; font-family:'Comic Sans MS'"> Vice Principal's Message </h1>
                <b>
                    <p style="color:white; font-family:'Comic Sans MS'">
                        On behalf of the Junior School staff,I welcome you to our official webpage.<br />
                        We cater to classes 2 to 5. This webpage will be your access to the Junior<br />
                        School and will keep you posted about the various events and activities <br />
                        organized to help your child develop and grow into a well-rounded individual.<br />
                        Our Junior School prides itself in providing a nurturing environment where <br />
                        questioning minds are appreciated and creative thinking flourishes.  We at LGS <br />
                        believe in responsibility that comes with freedom and respect that celebrates <br />
                        diversity.  We are confident that compassion for others and concern for the <br />
                        environment gives our students a greater sense of their place in the world. <br />
                        Please feel free to explore our website and see how we help equip your child <br />
                        for a lifelong learning experience
                    </p>
                </b>

            </div>

            <div class="col-xs-3">

                <div class="item">
                    <br><br>
                    <img src="~/img/admin.jpg" width="150" height="180">
                </div>
                <div>
                   
                    <h3 style="color:white; font-family:'Comic Sans MS'"> Name: Asim Ilyas </h3>

                </div>


            </div>

        </div>    

</body>
</html>
