@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link href="/Content/bootst.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script> 

</head>
<body>

    
   
    <div class="row" style="color:white; font-family:'Comic Sans MS'">
        <div class="col-xs-2"> </div>

        <div class="col-xs-8">
            <h3 > Lahore Grammer Schools </h3>
            <p >
                Lahore Grammer Schools has become the fastest growing Educational Networks in Pakistan. Within 4 years Allied School now has 600+ plus Campuses across Pakistan. All these school campuses together have more than 160,000 students on rolls.

                The purpose of Allied Schools is to prepare students with promise to enhance their intellectual, physical, social,
                emotional, spiritual, and artistic growth so that they may realize their power for good as citizens of Pakistan.
            </p>

            <h3 >Lahore Grammer School's aim to give children an all-round education offering:</h3>
            <p > A caring environment with a strong academic foundation. </p>
            <p > An exclusive focus on the individual child. </p>
            <p> A balance between local and global standards with modern approaches. </p>
            <p > Service to children, parents and the nation. </p>
        </div>
        <div class="col-xs-1"> </div>

    </div>

  
</body>
</html>