@{
    Layout=null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main Page</title>
    <link href="/Content/bootst.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>

    <script>

        function validateform() {

            var email = document.forms["SignUp"]["email"].value;

            var re = /^\w+@@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;

            if (!email.match(re)) {
                alert('Please fill valid email');
                return false;
            }
        }
        </script>


</head>
<body>

    <div class="row" style="color:white; font-family:'Comic Sans MS'">

        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <h1 >Welcome to Lahore Grammer School</h1>
        </div>
    </div>
            @if (Session["Name"] != null)
            {
                Session["Name"] = "";
            }

    <div class="row" style="color:white; font-family:'Comic Sans MS'">

        <div class="col-xs-1">
        </div>



        <div class="col-xs-4">

            <h1>Sign In</h1>
            <form role="form" action="/Home/SignInUser" method="post">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Username  </span>
                    <input type="text" name="name" class="form-control" placeholder="Username" aria-describedby="basic-addon1" required>
                </div>

                <br> <br>

                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Password  </span>
                    <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" required>
                </div>

                <br>
                @if (ViewBag.Invalid != null)
                        {
                            if (ViewBag.Invalid.Equals("invalid"))
                            {
                    <h1 style="color: #ffffff">User Name or Password Invalid</h1>
                            }
                        }
                <br>

                <button type="submit" class="btn btn-default pull-right">Sign In</button>
            </form>
        </div>




        <div class="col-xs-1">
        </div>


        <div class="col-xs-4" style="color:white; font-family:'Comic Sans MS'">
            <h1 >Sign Up </h1>
            <h3 >if you dont have a account </h3>

            <form role="form" action="/Home/SignUpUser" name="SignUp" onsubmit="validateform()" method="post">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Username  </span>
                    <input type="text" name="name" class="form-control" placeholder="Asim Iiyas" aria-describedby="basic-addon1" required>
                </div>

                <br> <br>

                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Email  </span>
                    <input type="email" name="email" class="form-control" placeholder="bitf12m527@pucit.edu.pk" aria-describedby="basic-addon1" required>
                </div>

                <br> <br>

                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Password  </span>
                    <input type="password" name="password" class="form-control" placeholder="4-12 characters" aria-describedby="basic-addon1" required>
                </div>

                <br> <br>

                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Confirm Password  </span>
                    <input type="password" name="cpass" class="form-control" placeholder="Enter Password Again" aria-describedby="basic-addon1" required>
                </div>

                <br>
                @if (ViewBag.Invalid != null)
                        {
                            if (ViewBag.Invalid.Equals("wrong"))
                            {
                            <h1 style="color:white; font-family:'Comic Sans MS'"> Password not matched</h1>
                            }
                        }
                <br>


                <button type="submit" class="btn btn-default pull-right">Sign Up</button>
            </form>

        </div>


    </div>

</body>
</html>