@{
    
}





<!DOCTYPE html>

<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
</style>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="/Content/bootst.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script> />
</head>


<body>

    <div class="content-wrapper">
        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/img/image1.jpg" width="460" height="345">
                    </div>

                    <div class="item">
                        <img src="~/img/image2.jpg" width="460" height="345">

                    </div>

                    <div class="item">
                        <img src="~/img/image3.jpg" width="460" height="345">
                    </div>

                    <div class="item">
                        <img src="~/img/image4.jpg" width="460" height="345">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-7">
            <h1 style="color:white; font-family:'Comic Sans MS'">Welcome to Lahore Grammer School</h1>
            <h1 style="color:white; font-family:'Comic Sans MS'"> Vice Principal's Message </h1>
            <b>
                <p style="color:white; font-family:'Comic Sans MS'">
                    On behalf of the Junior School staff,I welcome you to our official webpage.<br />
                    We cater to classes 2 to 5. This webpage will be your access to the Junior<br />
                    School and will keep you posted about the various events and activities <br />
                    organized to help your child develop and grow into a well-rounded individual.<br />
                    Our Junior School prides itself in providing a nurturing environment where <br />
                    questioning minds are appreciated and creative thinking flourishes.  We at LGS <br />
                    believe in responsibility that comes with freedom and respect that celebrates <br />
                    diversity.  We are confident that compassion for others and concern for the <br />
                    environment gives our students a greater sense of their place in the world. <br />
                    Please feel free to explore our website and see how we help equip your child <br />
                    for a lifelong learning experience
                </p>
            </b>

        </div>

        <div class="col-xs-3">

            <div class="item">
                <br><br>
                <img src="~/img/admin.jpg" width="150" height="180">
            </div>
            <div>

                <h3 style="color:white; font-family:'Comic Sans MS'"> Name: Asim Ilyas </h3>

            </div>


        </div>

    </div>

</body>
</html>
